.section-application {
  position: relative;
  z-index: 0;

  &__thumb-sm {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
  }

  &__text {
    padding-left: 10px;
  }

  &__item {
    max-width: 474px;
    width: 100%;
    display: flex;
    margin-bottom: 75px;
transition-delay: .35s;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .text_warm {
    font-size: 24px;
    line-height: 1.167;
    margin-bottom: 10px;
  }

  .section__title {
    color: #ffffff;
    margin-bottom: 60px;

    .text_big {
      color: #ffffff;
    }
  }

  .part {
    position: relative;
    width: 50%;
    min-height: 660px;
    z-index: 1;

    &:before {
      position: absolute;
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 50vw;
    }

    &_left {
      padding-top: 78px;
      padding-bottom: 87px;
      padding-right: 50px;

      &:before {
        background-image: url(../assets/img/bg--appl1.jpg);
        right: 0;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 96px;
      padding-top: 114px;
      padding-bottom: 40px;

      &:before {
        background-image: url(../assets/img/bg--appl2.jpg);
        left: 0;
      }
    }
  }

  ul {
    li {
      position: relative;
      padding-left: 24px;
      font-size: 18px;
      line-height: 1.39;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 10px;
        height: 16px;
        background-image: url(../assets/img/arrow-right.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        left: 0;
        top: 4px;
        z-index: 1;
      }
    }
  }
}

@include respond-to($lg) {
  .section-application {

    .part_right {
      padding-top: 62px;
      padding-bottom: 62px;
    }

    .part_left {
      padding-right: 65px;
    }

    .section__title {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      br {
        display: none;
      }

      .text_big {
        padding-right: 0;
        padding-bottom: 5px;
      }
    }

    &__item {
      display: block;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__thumb-sm {
      margin-bottom: 15px;
    }
  }
}

@include respond-to($md) {
  .section-application {

    &__thumb {
      text-align: center;
    }

    &__item {
      max-width: 100%;
      display: flex;
    }

    .container {
      flex-wrap: wrap;

    }

    .section__title {
      flex-direction: row;
      max-width: 568px;
      margin: 0 auto 60px;
      align-items: center;

      .text_big {
        margin-right: 30px;
      }

      br {
        display: inline-block;
      }
    }

    .part {
      width: 100%;

      &:before {
        width: 100vw;

      }

      &_left {
        padding-right: 0;

        &:before {
          right: 50%;
          transform: translateX(50%);
        }
      }

      &_right {
        padding-top: 130px;
        padding-bottom: 130px;
        padding-left: 0;
        //min-height: 660px;
        //justify-content: flex-end;

        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

@include respond-to($sm) {
  .section-application {
    .section__title {
      flex-direction: column;
      align-items: center;
      margin-bottom: 54px;

      .text_big {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}

@include respond-to($xs) {
  .section-application {
    &__item {
      display: block;
    }

    .part_left {
      padding-top: 85px;
    }

    .part_right {
      padding: 40px 0;
    }
  }
}