.section-buy {
  position: relative;
  padding-top: 108px;
  padding-bottom: 127px;
  background-image: linear-gradient(to bottom, #FCF7E6 0% 55%, #ffffff 55% 100%);

  .block-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
  }

  .v-btn {
    margin-bottom: 0;
    margin-right: 27px;

    &_success {
      &:before {
        background-image: url(../assets/img/apteki.svg);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .wrap-wgt {
    width: 100%;
    background-color: #ffffff;
    border: 6px solid #FFFFFF;
    overflow: hidden;
    position: relative;
    min-height: 507px;
    padding-top: 43.6%;
    z-index: 1;
  }

  #geo_wgt {
    position: absolute;
    padding: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    zoom: 60%;
  }
}


.section-buy {
  .rellax {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    &_1 {
      bottom: 50px;
    }
    &_2 {
      top: 22%;
    }
    &_3 {
      bottom: 22%;
    }
  }
}

.parallax__layer {
  display: block;
  margin: 0 auto;

  &_1 {
    max-width: 1239px;
  }

  &_2 {
    max-width: 1350px;
  }

  &_3 {
    max-width: 1387px;
  }
}

@media (min-width: 769px) {
  #geo_wgt .c-w-main-wrapper {
    height: 100vh !important;
  }
}

@include respond-to($lg) {
  .section-buy {
    padding-bottom: 70px;
  }
}

@include respond-to($md) {
  .section-buy {
    padding-bottom: 80px;
  }
  .block-bubbles {
    display: none;
  }
  .c-w-stores-fixed {
    display: none !important;
  }
}

@include respond-to($sm) {
  .section-buy #geo_wgt {
    zoom: 70%;
  }
}

@include respond-to($xs) {
  .section-buy {
    padding-top: 97px;

    .block-btns {
      display: block;
      text-align: center;
    }

    .v-btn {
      margin-right: 0;
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

