.section-banner {
  position: relative;
  display: flex;
  align-items: flex-end;

  min-height: 800px;
  padding-top: 115px;
  padding-bottom: 64px;

  &__bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: left 100px top 0;
    background-size: cover;
    height: 100%;
  }

  &:before {
    position: absolute;
    content: '';
    top: 0;
    width: 60%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(90deg, #2B3E44 41.92%, rgba(43, 62, 68, 0) 100%);
  }

  &__slogan {
    position: relative;
    width: 100%;
    font-size: 52px;
    line-height: 1;
    color: #FFB42C;
    font-weight: 700;
    margin-bottom: 38px;

  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 538px;
  }

  &__text {
    width: 100%;
    padding-bottom: 78px;
    padding-right: 20px;
  }

  &__wrap-img {
    width: 50%;
    padding-right: 60px;
  }

  &__item {
    position: relative;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 5px;
    padding-left: 30px;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 10px;
      height: 16px;
      background-image: url(../assets/img/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      left: 0;
      top: 7px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .btn {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .block-btns {
    width: 50%;
    padding-top: 18px;
  }
}

@media screen and (max-height: 768px) and (orientation: landscape) {
  .section-banner {
    min-height: 625px;
    padding-top: 115px;

    &__slogan {
      margin-bottom: 30px;
    }

    &__text {
      padding-bottom: 40px;
    }
  }
}

@include respond-to($xl) {
  .section-banner__bg {
    background-position: left 25% top 0;
  }
}

@include respond-to($lg) {
  .section-banner__bg {
    background-position: right 60% top 0;
  }
}

@include respond-to($md) {
  .section-banner__bg {
    background-position: left 32% top 0;
  }
}

@include respond-to($sm) {
  .section-banner {
    padding-bottom: 0;
    flex-direction: column;

    &:before {
      width: 100%;
      background: #2B3E44;
    }

    &__bg {
      width: 100%;
      position: relative;
      background-position: center;
      padding-top: 60%;
      min-height: 285px;
      z-index: 1;
      margin-top: 43px;
    }
  }
}

@include respond-to($xs) {
  .section-banner {
    &__slogan {
      font-size: 32px;
    }

    &__wrap-img {
      padding-right: 24px;
    }

    &__text {
      padding-bottom: 40px;
    }

    &__item {
      font-size: 20px;
      margin-bottom: 10px;
      line-height: 1.2;

      &:before {
        top: 3px;
      }
    }

    .btn {
      min-width: 172px;
      font-size: 14px;
      padding-left: 50px;
      padding-top: 8px;
      padding-bottom: 9px;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        width: 45px;
        height: 45px;
      }

      &:after {
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
      }
    }
  }
}

@include respond-to($xxs) {
  .section-banner {
    &__text {
      padding-right: 0;
    }

    &__wrap-img {
      padding-right: 0;
      margin-bottom: 40px;
    }

    .block-btns,
    &__wrap-img {
      width: 100%;
      padding-top: 0;
      text-align: center;
    }
  }
}

