$main-font: 'PF Square Sans Pro', sans-serif;

// Screen Variables
$xxs: '(max-width: 370px)';
$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1160px)';
$xl: '(max-width: 1440px)';




