$main-font: 'PF Square Sans Pro', sans-serif;

// Screen Variables

$xs: '(max-width: 580px)';
$sm: '(max-width: 768px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1160px)';
$xl: '(max-width: 1366px)';




