$main-font: 'PF Square Sans Pro', sans-serif;

// Screen Variables

$xxs: '(max-width: 580px)';
$xs: '(max-width: 767px)';
$sm: '(max-width: 992px)';
$md: '(max-width: 1160px)';
$lg: '(max-width: 1280px)';
$xl: '(max-width: 1440px)';




