.footer {
  font-size: 16px;
  line-height: 1.5;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #3B4040;
  padding-bottom: calc(15vh + 68px);
  flex-shrink: 0;

  &__logo {
    display: inline-block;
    max-width: 183px;
    height: auto;
  }

  &__logo-img {
    width: 100%;
  }

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &_bottom {
    display: flex;
    justify-content: center;
    padding: 20px 0 0;
    border-top: 1px solid rgba(51, 64, 64, .1);
  }

  &__item {
    position: relative;
    padding: 0 20px;

    .text_warm {
      margin-left: 10px;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 25px;
      background-color: #3B4040;
      opacity: .2;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child:after {
      display: none;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
    }
  }

  .container {
    position: relative;
  }
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15vh;
  z-index: 500;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(255, 255, 255, .4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  img {
    display: block;
    width: 100%;
    height: 15vh;
  }
}

@include respond-to($sm) {
  .footer {
    padding-bottom: calc(15vh + 20px);

    &__logo {
      width: 100%;
      margin-bottom: 40px;
    }

    &_top {
      flex-wrap: wrap;
      justify-content: center;
    }

    &_bottom {
      flex-wrap: wrap;
      padding-top: 20px;
    }

    &__item {
      width: 100%;
      text-align: center;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &:after {
        display: none;
      }
    }
    .social-bar {
      width: 100%;
    }
  }
}

@include respond-to($xxs) {
  .footer {
    .social-bar {
      &__item {
        width: 60px;
        height: 60px;
        margin-left: 30px;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}