.btn_burger,
.btn_close {
  display: none;
  width: 32px;
  height: 32px;
  padding: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  background-color: transparent;
}

.btn_burger {
  background-image: url(../assets/img/burger.svg);
  background-size: contain;
}

.btn_close {
  display: none;
  background-size: auto;
  position: absolute;
  background-image: url(../assets/img/close.svg);
  right: 15px;
  top: 0;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  color: #334040;
  background-color: transparent;
  z-index: 1000;
  padding: 24px 0;
  transition: .35s;

  &.active {
    &:before {
      background-color: rgba(43, 62, 68, .2);
    }
  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12.5px);
    border-radius: 6px;
    transition: .35s;
  }

  &__logo-site {
    display: block;
    width: 160px;

  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {

    &__inner {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__header {
      display: none;
      width: 100%;
      padding: 20px 0;
    }

    .container {
      position: relative;
    }

    &__footer {
      display: none;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
    }
  }

  .footer__logo {
    max-width: 183px;
    display: inline-block;
    margin-bottom: 30px;
  }
}

@include respond-to($md) {
  .header {
    padding: 20px 14px;

    .nav {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      padding: 0 15px 15px;
      transition: transform .5s;
      transform: translateX(-100%);
      z-index: 900;

      &.open {
        transform: translateX(0);
      }

      &__inner {
        justify-content: space-between;
        max-height: 100%;
        height: 100%;
        overflow-y: auto;
        flex-direction: column;
      }

      &__header {
        display: block;
      }

      &__footer {
        display: flex;
        width: 100%;
      }

      &__footer-bottom {
        display: flex;
        justify-content: center;
        padding: 20px 0 22px;
        border-top: 1px solid rgba(51, 64, 64, .1);
        width: 100%;
      }

      &__footer-item {
        position: relative;
        padding: 0 20px;

        .text_warm {
          margin-left: 10px;
        }

        &:after {
          position: absolute;
          content: '';
          display: block;
          width: 1px;
          height: 25px;
          background-color: #3B4040;
          opacity: .2;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child:after {
          display: none;
        }

        a:hover,
        a:focus {
          text-decoration: underline;
        }
      }
    }
  }
  .btn_close,
  .btn_burger {
    display: block !important;
  }
  .social-bar {
    padding-bottom: 20px;
  }

  .menu {
    padding: 20px 0;
  }
}

@include respond-to($sm) {
  .header {
    .nav {
      &__footer-bottom {
        flex-wrap: wrap;
      }

      &__footer-item {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        &:after {
          display: none;
        }
      }
    }
  }
}

@include respond-to($xs) {
  .header {
    .social-bar__item {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
